{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block container %}
<div class="container">{{ block.super }}</div>
{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div class="column is-4" id="content-related">
  {% load log %}
  {% get_admin_log 10 as admin_log for_user user %}
  <nav class="panel">
    <p class="panel-heading">{% translate 'Recent actions' %}</p>
    {% if not admin_log %}
    <div class="panel-block">{% translate 'None available' %}</div>
    {% else %}
    {% for entry in admin_log %}
    <a class="panel-block" href="{{ entry.get_admin_url }}">
      <span class="panel-icon">
        <i class="fas {% if entry.is_addition %}fa-plus{% endif %}{% if entry.is_change %}fa-pencil{% endif %}{% if entry.is_deletion %}fa-trash{% endif %}" aria-hidden="true"></i>
      </span>
      {{ entry.object_repr }}
      <span class="is-size-7 has-text-dark pl-3">
      {% if entry.content_type %}
        ({% filter capfirst %}{{ entry.content_type.name }}{% endfilter %})
      {% else %}
        ({% translate 'Unknown content' %})
      {% endif %}
      </span>
    </a>
    {% endfor %}
    {% endif %}
  </nav>
</div>
{% endblock %}
